* {
font-family: 'Montserrat', sans-serif;
}

h1 {
  color: green;
  font-size: 50px;
}

.title {
  text-align: center;
  margin-top: 0px;
  margin-left: 20px;
}

.inputFrame {
  text-align: center;
}

.inputField {
  text-align: center;
  margin-top : 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  font-size: 25px;
}

.scaleRadio {
  margin-top: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

form {
  display: inline;
}

.submit {
  margin-top:  20px;
}

.outputDiv {
  margin-top: 20px;
  text-align: center;
  font-size: 70px;
}

.convertButton {
  margin-top:  20px;
}